<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>allocate|SSIA</title>
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-3.1.0.min.css"
 rel="stylesheet" type="text/css">
<link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-3.1.0.min.css"
rel="stylesheet" type="text/css">

</head>
<body>
    <div>
    <h2>wellcome to SSIA</h2>
    <p>available regions 
        <select >
            <option value="arusha">Arusha</option>
            <option value="rukwa">Rukwa</option>
        </select>   
    </p>
    </div>
    <div>

 <!--
        <iframe
  width="600"
  height="450"
  style="border:0"
  loading="lazy"
  allowfullscreen
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBu0z9o7Jz6-zxbXBUzaMsKC9vDL0fImdE
    &q=Space+Needle,Seattle+WA">
</iframe> -->

{{div| safe}}
    </div>

    <div>
        <p>Choose the social service infrastructure to allocate
            <select>
                <option value="Hospital">Hospital</option>
                <option value="Health center">Health center</option>
                <option value="school">School</option>
                <option value="water pump">water pump</option>
            </select> <br><br>

            <button>Allocate</button>
        </p>
    </div>
</body>


<script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.1.0.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.1.0.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-3.1.0.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-3.1.0.min.js"></script>
</html>